---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
const rezepte = await getCollection("rezepte");
---

<BaseLayout>
    <div class="prose prose-invert">
        <ul class="list-disc p-4">
            {
                rezepte.map((rezept) => (
                    <li>
                        <a
                            href={rezept.slug}
                            class="no-underline hover:underline"
                        >
                            {rezept.data.title}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
