---
import BaseLayout from "@layouts/BaseLayout.astro";
import RecipeList from "@components/RecipeList.vue";
import { getCollection } from "astro:content";
import { tags } from "@content.config.ts";

const recipes = await getCollection("rezepte");
---

<BaseLayout>
    <div class="prose">
        <RecipeList recipes={recipes} tags={tags.options} client:load />
    </div>
</BaseLayout>
