---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import RecipeList from "@/components/RecipeList.vue";

const recipes = await getCollection("rezepte");
---

<BaseLayout>
    <div class="prose prose-default">
        <RecipeList recipes={recipes} client:load />
    </div>
</BaseLayout>
