---
import BaseLayout from "@layouts/BaseLayout.astro";
import RecipeList from "@components/RecipeList.vue";
import { getCollection } from "astro:content";

const recipes = await getCollection("rezepte");
---

<BaseLayout>
    <div class="prose-default prose dark:prose-invert">
        <RecipeList recipes={recipes} client:load />
    </div>
</BaseLayout>
