---
import BaseDesign from "@layouts/BaseDesign.astro";
import { verify } from "@node-rs/argon2";
import { db, setSessionCookie, createSession } from "@lib/session";
import { validateLoginForm } from "@lib/utils";

let errorMessage = "";

if (Astro.locals.session) {
    return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
    // TODO: Server Actions?
    const formData = await Astro.request.formData();

    try {
        const [username, password] = validateLoginForm(formData);
        const result = await db.execute({
            sql: "SELECT username, hashed_password FROM user WHERE username = ?",
            args: [username],
        });

        if (result.rows.length !== 1) {
            Astro.response.status = 400;
            errorMessage = "Incorrect username or password";
            throw errorMessage;
        }

        const hashed_password = result.rows[0]["hashed_password"] as string;
        const validPassword = await verify(hashed_password, password);

        if (!validPassword) {
            Astro.response.status = 400;
            errorMessage = "Incorrect username or password";
            throw errorMessage;
        }

        const session = await createSession(username);
        setSessionCookie(Astro.cookies, session.token);
        return Astro.redirect("/");
    } catch (e: any) {
        errorMessage = e;
        console.log(e);
    }
}
---

<BaseDesign>
    <div class="flex justify-center py-20">
        <form class="grid w-xs gap-2" method="post">
            <input
                id="username"
                name="username"
                type="text"
                class="border p-1"
                placeholder="username"
            />
            <input
                id="password"
                name="password"
                type="password"
                class="border p-1"
                placeholder="password"
            />
            <input
                type="submit"
                class="cursor-pointer border p-1 hover:bg-gray-300 hover:text-black"
                value="Login"
            />
            {
                import.meta.env.DEV && (
                    <a
                        class="cursor-pointer border p-1 text-center hover:bg-gray-300 hover:text-black"
                        href="/signup"
                    >
                        Create an account
                    </a>
                )
            }
            {
                errorMessage && (
                    <div class="w-xs py-4 text-red-700">{errorMessage}</div>
                )
            }
        </form>
    </div>
</BaseDesign>
