---
import BaseLayout from "@layouts/BaseLayout.astro";
import { lucia, db } from "@lib/lucia";
import { Argon2id } from "oslo/password";
import { LegacyScrypt } from "lucia";

import type { DatabaseUser } from "@lib/lucia";

let errorMessage = "";

if (Astro.locals.user) {
    return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const username = formData.get("username");
    const password = formData.get("password");

    try {
        if (
            typeof username !== "string" ||
            username.length < 3 ||
            username.length > 31 ||
            !/^[a-z0-9_-]+$/.test(username)
        ) {
            errorMessage = "Invalid username";
            Astro.response.status = 400;
            throw errorMessage;
        }

        if (
            typeof password !== "string" ||
            password.length < 6 ||
            password.length > 255
        ) {
            errorMessage = "Invalid password";
            Astro.response.status = 400;
            throw errorMessage;
        }

        const existingUser = (
            await db.execute({
                sql: "SELECT id, username, hashed_password as password FROM user JOIN password on user.id = password.user_id WHERE username = ?",
                args: [username],
            })
        ).rows[0] as unknown as DatabaseUser | undefined;

        if (!existingUser) {
            Astro.response.status = 400;
            errorMessage = "Incorrect username or password";
            throw errorMessage;
        }

        const validPassword =
            (await new LegacyScrypt().verify(
                existingUser.password,
                password,
            )) ||
            (await new Argon2id().verify(existingUser.password, password));

        if (!validPassword) {
            Astro.response.status = 400;
            errorMessage = "Incorrect username or password";
            throw errorMessage;
        }

        const session = await lucia.createSession(existingUser.id, {});
        const sessionCookie = lucia.createSessionCookie(session.id);
        Astro.cookies.set(
            sessionCookie.name,
            sessionCookie.value,
            sessionCookie.attributes,
        );

        return Astro.redirect("/");
    } catch (e) {
        console.log(e);
    }
}
---

<BaseLayout>
    <h2 class="pb-2 font-black">Login</h2>
    <form class="grid max-w-xs gap-2" method="post">
        <input
            id="username"
            name="username"
            type="text"
            class="border p-1 dark:bg-black"
            placeholder="username"
        />
        <input
            id="password"
            name="password"
            type="password"
            class="border p-1 dark:bg-black"
            placeholder="password"
        />
        <input
            type="submit"
            class="cursor-pointer border p-1 hover:bg-gray-300 hover:text-black dark:hover:bg-white"
            value="Login"
        />
        {
            import.meta.env.DEV && (
                <a
                    class="cursor-pointer border p-1 text-center hover:bg-gray-300 hover:text-black dark:hover:bg-white"
                    href="/signup"
                >
                    Create an account
                </a>
            )
        }
    </form>
    {
        errorMessage && (
            <div class="py-4">
                <div class="alert alert-error max-w-xs">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6 shrink-0 stroke-current"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                    </svg>
                    <span>{errorMessage}</span>
                </div>
            </div>
        )
    }
</BaseLayout>
