---
import BaseLayout from "@layouts/BaseLayout.astro";
import { tags } from "@content/config.ts";
import NewRecipe from "@components/NewRecipe.vue";
import {
    createValidFilename,
    trimRecipe,
    createContent,
    createNewRecipe,
} from "@lib/utils";

if (!Astro.locals.user) return Astro.redirect("/login", 302);

if (Astro.request.method === "POST") {
    const recipe = trimRecipe(await Astro.request.json());
    const filename = createValidFilename(recipe.title);
    const content = createContent(recipe);
    try {
        const result = await createNewRecipe(filename, recipe.title, content);
        if (result.status === 201) {
            return Astro.redirect("/");
        }
        return new Response(JSON.stringify(result));
    } catch (error) {
        return new Response(JSON.stringify(error));
    }
}
---

<BaseLayout>
    <div class="prose grid max-w-md gap-4 dark:prose-invert">
        <NewRecipe tags={tags.options} client:load />
    </div>
</BaseLayout>
