---
import BaseDesign from "@layouts/BaseDesign.astro";
import RecipeEdit from "@components/RecipeEdit.svelte";

if (!Astro.locals.session) return Astro.redirect("/login", 302);
---

<BaseDesign>
    <div class="flex justify-center py-1">
        <div class="prose w-full">
            <RecipeEdit client:load />
        </div>
    </div>
</BaseDesign>
