---
import BaseLayout from "@layouts/BaseLayout.astro";

import { db, setSessionCookie, createSession } from "@lib/session";
import { hash } from "@node-rs/argon2";
import { validateLoginForm } from "@lib/utils";

// only allow signup in dev
if (import.meta.env.PROD) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}

if (Astro.locals.session) {
    return Astro.redirect("/");
}

let errorMessage = "";

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();

    try {
        const [username, password] = validateLoginForm(formData);

        const hashedPassword = await hash(password, {
            memoryCost: 19456,
            timeCost: 2,
            outputLen: 32,
            parallelism: 1,
        });

        await db.execute(
            "INSERT INTO user (username, hashed_password) VALUES(?, ?)",
            [username, hashedPassword],
        );

        const session = await createSession(username);
        // Astro.cookies.set("session", session.token);
        setSessionCookie(Astro.cookies, session.token);
        return Astro.redirect("/");
    } catch (e) {
        if (typeof e === "string") {
            Astro.response.status = 400;
            errorMessage = e;
        } else {
            Astro.response.status = 500;
            errorMessage = "An unknown error occurred";
        }
    }
}
---

<BaseLayout>
    <h2 class="pb-2 font-black">Create new account</h2>
    <form class="grid max-w-xs gap-2" method="post">
        <input
            id="username"
            name="username"
            type="text"
            class="border p-1"
            placeholder="username"
        />
        <input
            id="password"
            name="password"
            type="password"
            class="border p-1"
            placeholder="password"
        />
        <input
            type="submit"
            class="cursor-pointer border p-1 hover:bg-gray-300 hover:text-black"
            value="Create account"
        />
        <a
            class="cursor-pointer border p-1 text-center hover:bg-gray-300 hover:text-black"
            href="/login"
        >
            Login instead</a
        >
    </form>
    {
        errorMessage && (
            <div class="py-4">
                <div class="alert alert-error max-w-xs">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6 shrink-0 stroke-current"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                    </svg>
                    <span>{errorMessage}</span>
                </div>
            </div>
        )
    }
</BaseLayout>
