---
const { tag } = Astro.props;
---

<div>
    <input
        id={tag}
        name="filter"
        value={tag}
        type="checkbox"
        hx-post="/"
        class="peer appearance-none"
    />
    <label
        for={tag}
        class="rounded-full border-2 p-2 peer-checked:bg-foreground peer-checked:text-background"
        >{tag}
    </label>
</div>
