---
const user = Astro.locals.user;
import UserDropdown from "./UserDropdown.vue";
---

<div class="flex items-end justify-between pb-8">
    <h1 class="text-5xl xl:text-6xl">
        <a href="/">Melas Rezepte</a>
    </h1>
    <div class="flex justify-end">
        <div class="flex items-center">
            {user && <UserDropdown client:load user={user.username} />}
            {!user && <a href="/login">login</a>}
        </div>
    </div>
</div>
