---
const user = Astro.locals.user;
import UserDropdown from "./UserDropdown.vue";
---

<div class="flex flex-wrap items-center justify-between pb-8 pr-4">
    <h1 class="text-4xl font-black text-black dark:text-white">
        <a href="/">Melas Rezepte</a>
    </h1>
    {user && <UserDropdown client:load user={user.username} />}
    {!user && <a href="/login">login</a>}
</div>
