---
const session = await Astro.locals.auth.validate();
---

<div class="flex flex-wrap justify-between items-center pb-8 pr-4">
    <h1 class="text-4xl font-black">Melas Rezepte</h1>
    {
        session && (
            <div class="dropdown dropdown-end">
                <label
                    tabindex="0"
                    class="text-accent hover:text-accent-focus cursor-pointer"
                >
                    {session.user.username}
                </label>
                <ul
                    tabindex="0"
                    class="dropdown-content z-[1] menu shadow bg-neutral"
                >
                    <li>
                        <form class="p-1" method="post" action="/logout">
                            <input
                                class="cursor-pointer"
                                type="submit"
                                value="ausloggen"
                            />
                        </form>
                    </li>
                </ul>
            </div>
        )
    }
    {!session && <a href="/login">Login</a>}
</div>
