---
const user = Astro.locals.user;
import UserDropdown from "./UserDropdown.vue";
---

<div class="flex flex-wrap items-center justify-between pr-4 pb-8">
    <h1 class="text-5xl text-black">
        <a href="/">Melas Rezepte</a>
    </h1>
    {user && <UserDropdown client:load user={user.username} />}
    {!user && <a href="/login">login</a>}
</div>
