---
import BaseDesign from "@layouts/BaseDesign.astro";
import { getEntry } from "astro:content";
import RecipeEdit from "@components/RecipeEdit.svelte";

if (!Astro.locals.session) return Astro.redirect("/login", 302);

const slug = Astro.params.slug;

if (!slug) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}

const recipe = await getEntry("rezepte", slug);

if (!recipe) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}
---

<BaseDesign>
    <div class="flex justify-center py-1">
        <div class="prose w-full">
            <RecipeEdit {recipe} client:load />
        </div>
    </div>
</BaseDesign>
