---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import { getEntry } from "astro:content";
import { PencilSquareIcon } from "@heroicons/vue/24/solid";
import { Image } from "astro:assets";

const { slug } = Astro.params;

if (!slug) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}

const post = await getEntry("rezepte", slug);

if (!post) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}

const { Content } = await post.render();

const session = await Astro.locals.auth.validate();
---

<BaseLayout>
    <div
        class="prose-default prose m-auto max-w-xl py-10 dark:prose-invert dark:text-gray-300"
    >
        <h2 class="flex items-center justify-between">
            {post.data.title}
            {
                session && (
                    <a href="edit">
                        <PencilSquareIcon class="h-5 w-5" />
                    </a>
                )
            }
        </h2>
        {post.data.image && <Image src={post.data.image} alt="" />}
        <content>
            {
                post.data.ingredients.length > 0 && (
                    <>
                        <h3>Zutaten</h3>
                        <ul>
                            {post.data.ingredients.map((i) => (
                                <li>{i}</li>
                            ))}
                        </ul>
                    </>
                )
            }
            <h3>Anleitung</h3>
            <Content />
        </content>
    </div>
</BaseLayout>
