---
import { Font } from "astro:assets";
import Header from "../components/header.astro";
import "@styles/global.css";
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <Font cssVariable="--font-merriweather" preload />
        <title>Melas Rezepte</title>
    </head>
    <body class="m-auto max-w-xl p-4 font-serif">
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>
