---
import Header from "../components/header.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <script src="../htmx.min.js"></script>
        <title>Melas Rezepte</title>
    </head>
    <body class="bg-black text-white p-3">
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>
